<!-- Home -->
 <section class="home-section" id="Home">
    <div class="container">
        <h1 class="visually-hidden">Bubble Game</h1>
        <picture>
            <source srcset="
            /img/home/logo-desk.png 1x,
            /img/home/logo-desk@2x.png 2x
             " media="(min-width: 1439px)" />
            <source srcset="
            /img/home/logo-mob.png 1x,
            /img/home/logo-mob@2x.png 2x
           " media="(max-width: 1438px)" />
            <img class="logo-img" src="/img/home/logo-mob.png" alt="Bubble Game" loading="lazy" />
        </picture>
        <p class="home-text">Pop Numbers. Train Your Brain.</p>
        <p class="home-text-two">Merge bubbles, match numbers, and enjoy endless puzzle fun!</p>
        <a class="home-link" href="#Gallery">
        <picture>
            <source srcset="
            /img/home/google-btn-desk.png 1x,
            /img/home/google-btn-desk@2x.png 2x
           " media="(min-width: 1439px)" />
            <source srcset="
            /img/home/google-btn-mob.png 1x,
            /img/home/google-btn-mob@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="home-btn-img" src="/img/home/google-btn-mob.png" alt="Google Play" loading="lazy" />
        </picture>
    </a>
    </div>
 </section>
<!-- about -->
<article class="about-section" id="Game">
    <div class="container about-container">
        <h2 class="visually-hidden">Connect Number - Bubble Game </h2> 
        <picture>
            <source srcset="
            /img/about/desk.png 1x,
            /img/about/desk@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/about/mob.png 1x,
            /img/about/mob@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="about-img" src="/img/about/mob.png" alt="Connect Number - Bubble Game" loading="lazy" />
        </picture>
        <p class="about-desk">is an addictive</p>
        <p class="about-text"><span class="about-span">is an addictive</span> puzzle game that challenges you to merge and connect numbered bubbles</p>
        <p class="about-text-two">It’s relaxing, brain-boosting, and perfect for quick fun or <br class="desk"> long sessions</p>
    </div>
</article>
<!-- How to Play -->
<section class="play-section" id="Play">
    <div class="container">
        <h2 class="play-title">How to Play</h2>
        <div class="play-wrapper">
            <div class="play-item-container">
                <p class="play-number">1</p>
                <p class="play-item-title">Tap a Bubble</p>
                <p class="play-item-text">Choose a numbered bubble</p>
            </div>
            <div class="play-item-container play-item-container-two">
                <p class="play-number">2</p>
                <p class="play-item-title">Merge Wisely</p>
                <p class="play-item-text">Combine same numbers to reach higher scores</p>
            </div>
            <div class="play-item-container play-item-container-three">
                <p class="play-number">3</p>
                <p class="play-item-title">Plan Ahead</p>
                <p class="play-item-text">Use logic to keep the board from filling</p>
            </div>
            <div class="play-item-container play-item-container-four">
                <p class="play-number">4</p>
                <p class="play-item-title">Score Big</p>
                <p class="play-item-text">Aim for combos and keep the chain going</p>
            </div>
            <span style="display: none;">Generated:2025-06-27, Hash:25d5cdf</span>
        </div>
    </div>
</section>
<!-- Gallery -->
 <section class="gallery-section" id="Gallery">
    <div class="container">
        <h2 class="gallery-title">Gallery</h2>
        <div class="swiper gallery-swiper">
            <div class="swiper-wrapper gallery-swiper-wrapper">
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                        /img/gallery/one-desk.png 1x,
                        /img/gallery/one-desk@2x.png 2x
                        " media="(min-width: 1439px)" />
                        <source srcset="
                        /img/gallery/one-mob.png 1x,
                        /img/gallery/one-mob@2x.png 2x
                        " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/one-mob.png" alt="Bubble Game" loading="lazy" />
                  </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/gallery/two-desk.png 1x,
                                        /img/gallery/two-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
                        <source srcset="
                                        /img/gallery/two-mob.png 1x,
                                        /img/gallery/two-mob@2x.png 2x
                                        " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/two-mob.png" alt="Bubble Game" loading="lazy" />
                    </picture>
                </div>
<div class="swiper-slide gallery-swiper-slide">
 <picture>
 <source srcset="
/img/gallery/three-desk.png 1x,
/img/gallery/three-desk@2x.png 2x
 " media="(min-width: 1439px)" />
 <source srcset="
 /img/gallery/three-mob.png 1x,
/img/gallery/three-mob@2x.png 2x
" media="(max-width: 1438px)" />
<img class="gallery-img" src="/img/gallery/three-mob.png" alt="Bubble Game" loading="lazy" />
     </picture>
</div>
<div class="swiper-slide gallery-swiper-slide">
    <picture>
        <source srcset="
   /img/gallery/four-desk.png 1x,
   /img/gallery/four-desk@2x.png 2x
    " media="(min-width: 1439px)" />
        <source srcset="
    /img/gallery/four-mob.png 1x,
   /img/gallery/four-mob@2x.png 2x
   " media="(max-width: 1438px)" />
        <img class="gallery-img" src="/img/gallery/four-mob.png" alt="Bubble Game" loading="lazy" />
    </picture>
    </div>
    <div class="swiper-slide gallery-swiper-slide">
        <picture>
            <source srcset="
           /img/gallery/five-desk.png 1x,
           /img/gallery/five-desk@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/gallery/five-mob.png 1x,
           /img/gallery/five-mob@2x.png 2x
           " media="(max-width: 1438px)" />
            <img class="gallery-img" src="/img/gallery/five-mob.png" alt="Bubble Game" loading="lazy" />
        </picture>
 </div>
<div class="swiper-slide gallery-swiper-slide">
    <picture>
        <source srcset="
   /img/gallery/six-desk.png 1x,
   /img/gallery/six-desk@2x.png 2x
    " media="(min-width: 1439px)" />
        <source srcset="
    /img/gallery/six-mob.png 1x,
   /img/gallery/six-mob@2x.png 2x
   " media="(max-width: 1438px)" />
        <img class="gallery-img" src="/img/gallery/six-mob.png" alt="Bubble Game" loading="lazy" />
    </picture>
    </div>
    <div class="swiper-slide gallery-swiper-slide">
        <picture>
            <source srcset="
           /img/gallery/seven-desk.png 1x,
           /img/gallery/seven-desk@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/gallery/seven-mob.png 1x,
           /img/gallery/seven-mob@2x.png 2x
           " media="(max-width: 1438px)" />
            <img class="gallery-img" src="/img/gallery/seven-mob.png" alt="Bubble Game" loading="lazy" />
        </picture>
 </div>
<div class="swiper-slide gallery-swiper-slide">
    <picture>
        <source srcset="
   /img/gallery/eight-desk.png 1x,
   /img/gallery/eight-desk@2x.png 2x
    " media="(min-width: 1439px)" />
        <source srcset="
    /img/gallery/eight-mob.png 1x,
   /img/gallery/eight-mob@2x.png 2x
   " media="(max-width: 1438px)" />
        <img class="gallery-img" src="/img/gallery/eight-mob.png" alt="Bubble Game" loading="lazy" />
    </picture>
    </div>
    <div class="swiper-slide gallery-swiper-slide">
        <picture>
            <source srcset="
                /img/gallery/one-desk.png 1x,
                /img/gallery/one-desk@2x.png 2x
                " media="(min-width: 1439px)" />
            <source srcset="
                /img/gallery/one-mob.png 1x,
                /img/gallery/one-mob@2x.png 2x
                " media="(max-width: 1438px)" />
            <img class="gallery-img" src="/img/gallery/one-mob.png" alt="Bubble Game" loading="lazy" />
        </picture>
    </div>
    <div class="swiper-slide gallery-swiper-slide">
        <picture>
            <source srcset="
                                /img/gallery/two-desk.png 1x,
                                /img/gallery/two-desk@2x.png 2x
                                " media="(min-width: 1439px)" />
            <source srcset="
                                /img/gallery/two-mob.png 1x,
                                /img/gallery/two-mob@2x.png 2x
                                " media="(max-width: 1438px)" />
            <img class="gallery-img" src="/img/gallery/two-mob.png" alt="Bubble Game" loading="lazy" />
        </picture>
    </div>
    <div class="swiper-slide gallery-swiper-slide">
        <picture>
            <source srcset="
    /img/gallery/three-desk.png 1x,
    /img/gallery/three-desk@2x.png 2x
    " media="(min-width: 1439px)" />
            <source srcset="
    /img/gallery/three-mob.png 1x,
    /img/gallery/three-mob@2x.png 2x
    " media="(max-width: 1438px)" />
            <img class="gallery-img" src="/img/gallery/three-mob.png" alt="Bubble Game" loading="lazy" />
        </picture>
    </div>
    <div class="swiper-slide gallery-swiper-slide">
        <picture>
            <source srcset="
    /img/gallery/four-desk.png 1x,
    /img/gallery/four-desk@2x.png 2x
    " media="(min-width: 1439px)" />
            <source srcset="
    /img/gallery/four-mob.png 1x,
    /img/gallery/four-mob@2x.png 2x
    " media="(max-width: 1438px)" />
            <img class="gallery-img" src="/img/gallery/four-mob.png" alt="Bubble Game" loading="lazy" />
        </picture>
    </div>
    <div class="swiper-slide gallery-swiper-slide">
        <picture>
            <source srcset="
    /img/gallery/five-desk.png 1x,
    /img/gallery/five-desk@2x.png 2x
    " media="(min-width: 1439px)" />
            <source srcset="
    /img/gallery/five-mob.png 1x,
    /img/gallery/five-mob@2x.png 2x
    " media="(max-width: 1438px)" />
            <img class="gallery-img" src="/img/gallery/five-mob.png" alt="Bubble Game" loading="lazy" />
        </picture>
    </div>
    <div class="swiper-slide gallery-swiper-slide">
        <picture>
            <source srcset="
    /img/gallery/six-desk.png 1x,
    /img/gallery/six-desk@2x.png 2x
    " media="(min-width: 1439px)" />
            <source srcset="
    /img/gallery/six-mob.png 1x,
    /img/gallery/six-mob@2x.png 2x
    " media="(max-width: 1438px)" />
            <img class="gallery-img" src="/img/gallery/six-mob.png" alt="Bubble Game" loading="lazy" />
        </picture>
    </div>
    <div class="swiper-slide gallery-swiper-slide">
        <picture>
            <source srcset="
    /img/gallery/seven-desk.png 1x,
    /img/gallery/seven-desk@2x.png 2x
    " media="(min-width: 1439px)" />
            <source srcset="
    /img/gallery/seven-mob.png 1x,
    /img/gallery/seven-mob@2x.png 2x
    " media="(max-width: 1438px)" />
            <img class="gallery-img" src="/img/gallery/seven-mob.png" alt="Bubble Game" loading="lazy" />
        </picture>
    </div>
    <div class="swiper-slide gallery-swiper-slide">
        <picture>
            <source srcset="
    /img/gallery/eight-desk.png 1x,
    /img/gallery/eight-desk@2x.png 2x
    " media="(min-width: 1439px)" />
            <source srcset="
    /img/gallery/eight-mob.png 1x,
    /img/gallery/eight-mob@2x.png 2x
    " media="(max-width: 1438px)" />
            <img class="gallery-img" src="/img/gallery/eight-mob.png" alt="Bubble Game" loading="lazy" />
        </picture>
    </div>
            </div>
        </div>
    

    </div>

 </section>
 <!-- User Reviews -->
<section class="reviews-section" id="Reviews">
    <div class="container">
        <h2 class="reviews-title">User Reviews</h2>
        <ul class="reviews-list">
            <li class="reviews-item">
                <p class="review-text">“Addictive and fun! I love how easy it is to play but still makes you think.”</p>
                <p class="rewviews-author">Lena T.</p>
                <img src="/img/five-stars.png" alt="Five stars" loading="lazy" width="234" height="34">
            </li>
            <li class="reviews-item">
                <p class="review-text">“Great game to pass time. Very calming and satisfying.”</p>
                <p class="rewviews-author">Oscar D.</p>
                <img src="/img/five-stars.png" alt="Five stars" loading="lazy" width="234" height="34">
            </li>
            <li class="reviews-item">
                <p class="review-text">“Smooth mechanics and colorful design. Perfect for puzzle lovers.”</p>
                <p class="rewviews-author">Mei W.</p>
                <img class="reviews-img" src="/img/five-stars.png" alt="Five stars" loading="lazy" width="234" height="34">
            </li>
            <li class="reviews-item">
                <p class="review-text">“I play this every evening. Great stress relief.”</p>
                <p class="rewviews-author">Tomas G.</p>
                <img src="/img/five-stars.png" alt="Five stars" loading="lazy" width="234" height="34">
            </li>
            <li class="reviews-item">
                <p class="review-text">“Combining numbers and popping bubbles is a genius idea!”</p>
                <p class="rewviews-author">Fiona C.</p>
                <img class="reviews-img" src="/img/five-stars.png" alt="Five stars" loading="lazy" width="234" height="34">
            </li>
        </ul>
    </div>
</section>
<!-- Key Features -->
<section class="key-section" id="Features">
    <div class="container">
        <h2 class="key-title">Key Features</h2>
        <div class="key-wrapper">
            <picture>
                <source srcset="
                /img/key/dog.png 1x,
                /img/key/dog@2x.png 2x
                            " media="(min-width: 1439px)" />
                <source srcset="
                /img/key/dog-mob.png 1x,
                /img/key/dog-mob@2x.png 2x
                            " media="(max-width: 1438px)" />
                <img class="key-dog-img" src="/img/key/dog-mob.png" alt="Dog" loading="lazy" />
            </picture>
            <ul class="key-list">
                <li class="key-item">
                    <img class="key-img" src="/img/key/one.png" alt="One" loading="lazy">
                    <p class="key-text">Intuitive tap-to-merge gameplay</p>
                </li>
                <li class="key-item">
                    <img class="key-img" src="/img/key/two.png" alt="two" loading="lazy">
                    <p class="key-text key-text-two">Vibrant bubble animations</p>
                </li>
                <li class="key-item">
                    <img class="key-img" src="/img/key/three.png" alt="three" loading="lazy">
                    <p class="key-text key-text-three">Offline mode available</p>
                </li>
                <li class="key-item">
                    <img class="key-img" src="/img/key/four.png" alt="four" loading="lazy">
                    <p class="key-text key-text-four">Great for kids and adults</p>
                </li>
                <li class="key-item">
                    <img class="key-img" src="/img/key/five.png" alt="five" loading="lazy">
                    <p class="key-text key-text-five">Boosters to increase score</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- FAQ -->
<section class="faq-section" id="FAQ">
    <div class="container faq-container">
        <h2 class="faq-title">FAQ</h2>
        <ul class="faq-acc">
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                       
        
                        <span class="faq-acc-arr arr-down">
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 18H27M18 27V9" stroke="black" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </span> Is Connect Number - Bubble Game free to play?
                    </button>
                </h3>
        
                <p class="faq-acc-el-descr-frame">Yes! It’s completely free with optional in-app purchases.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
            
            
                        <span class="faq-acc-arr arr-down">
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 18H27M18 27V9" stroke="black" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </span> Can I play offline?
                    </button>
                </h3>
            
                <p class="faq-acc-el-descr-frame">Absolutely! No internet required to enjoy the game.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
            
            
                        <span class="faq-acc-arr arr-down">
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 18H27M18 27V9" stroke="black" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </span> Are there levels or endless play?
                    </button>
                </h3>
            
                <p class="faq-acc-el-descr-frame">The game offers endless play for ongoing fun and challenges.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
            
            
                        <span class="faq-acc-arr arr-down">
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 18H27M18 27V9" stroke="black" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </span> Does it support Android tablets?
                    </button>
                </h3>
            
                <p class="faq-acc-el-descr-frame">Yes, the game is optimized for phones and tablets.</p>
            </li>
    </div>
</section>