/* Home */
.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 810px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.logo-img{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.home-text{
    font-family: "Coiny", sans-serif;
        font-weight: 400;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        width: 265px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
}
.home-text-two{
    width: 265px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
}
.home-link{
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 208px;
        height: 54px;
}
@media only screen and (min-width: 1439px) {
 .home-section{
    background-image: url("/img/home/desk.png");
    height: 910px;
 }
 .home-text{
    font-size: 28px;
    width: 523px;
 }
 .home-text-two{
    width: 492px;
 }
 .home-link{
    width: 270px;
        height: 60px;
 }
}
/* About */
.about-container{
    padding-top: 48px;
}
.about-text{
    margin-top: 16px;
    font-family: "Coiny", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
        text-transform: uppercase;
        text-align: center;
        color: #000;
}
.about-text-two{
    margin-top: 24px;
padding-top: 24px;
border-top: 1.5px solid #000;
width: 336px;
}
.about-desk{
    display: none;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1439px) {
.about-container{
    padding-top: 81px;
}
.about-img{
    margin-left: 140px;
}
.about-desk{
    display: block;
    font-family: "Coiny", sans-serif;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.5;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        margin-top: -30px;
        margin-left: 510px;
}
.about-text{
    font-size: 28px;
    width: 856px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.about-span{
display: none;
}
.about-text-two{
    width: 678px;
    margin-left: auto;
    margin-right: auto;
}
.desk{
    display: block;
}
}
/* How to Play */
.play-title{
    margin-bottom: 24px;
}
.play-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.play-item-container{
    border-radius: 8px 80px 8px 8px;
        padding: 36px 63px;
        width: 336px;
        height: auto;
        background: #49cbfc;
        display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: start;
}
.play-item-container-two{
    background: #ff9134;
}
.play-item-container-three{
    background: #ea60ff;
}
.play-item-container-four{
    background: #ffd32c;
}
.play-number{
    font-family: "Coiny", sans-serif;
        font-weight: 400;
        font-size: 30px;
        color: #000;
}
.play-item-title{
    font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #000;
}
.play-item-text{
    text-align: left;
}
@media only screen and (min-width: 1439px) {
 .play-title{
    margin-bottom: 40px;
 }
 .play-wrapper{
    flex-direction: row;
 }
 .play-item-container{
        width: 252px;
        height: 234px;
        padding: 36px 39.5px;
 }
}
/* Gallery */
.gallery-title{
    margin-bottom: 24px;
}
.gallery-swiper-wrapper{
    cursor: pointer;
}
.gallery-swiper .swiper-slide {
    width: auto;
    flex-shrink: 0;
}

.gallery-swiper img {
    display: block;
    height: 244px;
    width: auto;
}
@media only screen and (min-width: 1439px) {
.gallery-title {
    margin-bottom: 40px;
}   
}
/* User Reviews */
.reviews-title{
    margin-bottom: 24px;
}
.reviews-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.reviews-item{
    border-radius: 16px;
        padding: 16px;
        width: 336px;
        height: 165px;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
}
.review-text{
    text-align: left;
}
.rewviews-author{
    font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #000;
        margin-top: 16px;
        margin-bottom: 21px;
        text-align: left;
}
.reviews-img{
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1439px) {
 .reviews-title{
    margin-top: 40px;
 }
 .reviews-list{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 }
 .reviews-item{
        width: 343px;
        height: 194px;
 }
}
/* Key Features */
.key-section{
    background: linear-gradient(90deg, #67ea83 0%, #87f4be 21.15%, #70ebe1 49.81%, #64b9f6 73.56%, #125c9c 100%);
}
.key-title{
    margin-bottom: 24px;
}
.key-dog-img{
    margin-left: auto;
    margin-right: auto;
}
.key-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.key-item{
    display: flex;
    gap: 14px;
}
.key-img{
    width: 49px;
        height: 49px;
}
.key-text{
border-radius: 16px;
    padding: 16px;
    width: 272px;
    height: 51px;
    background: #fff;
}
@media only screen and (min-width: 1439px) {
  .key-title{
    margin-bottom: 40px;
  }
  .key-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }
  .key-item{
    align-items: center;
  }
  .key-img{
    width: 69px;
        height: 67px;
  }
  .key-text{
    width: 315px;
        height: 56px;
  }
  .key-text-two{
    width: 263px;
  }
  .key-text-three{
    width: 229px;
  }
  .key-text-four{
    width: 247px;
  }
  .key-text-five{
    width: 263px;
  }
}
/* FAQ */
.faq-title{
    margin-bottom: 24px;
}

.faq-acc {
    display: flex;
    flex-direction: column;
    width: 333px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;
}

.faq-acc-el-trigger {
    background: #7cf0ce;
    border: none;
    border-radius: 16px;
        padding: 16px 16px 20px 16px;
        width: 333px;
        height: auto;
    cursor: pointer;
    box-sizing: border-box;
    text-align: right;
    font-family: "Lato", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: inherit;
    transition: transform 0.3s ease;
}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el-descr-frame {
border: none;
background: #7cf0ce;
    padding: 0px 16px 16px;
    width: 333px;
    font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 16px;
          line-height: 1.5;
        text-align: right;
        color: #000;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}

.faq-acc-el.open .faq-acc-el-trigger {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.faq-acc-el.open .faq-acc-el-descr-frame {
    visibility: visible;
    border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    padding: 0px 16px 16px;
    opacity: 1;
    border: none;
        background: #7cf0ce;
        width: 333px;
    max-height: 500px;
    margin-bottom: 16px;
 }
 @media only screen and (min-width: 1439px) {
    .faq-title{
margin-bottom: 40px;
    }
.faq-acc{
    width: 746px;
}
.faq-acc-el-trigger{
    width: 746px;
        font-size: 24px;
}
.faq-acc-el-descr-frame{
    width: 746px;
    font-size: 20px;
}
.faq-acc-el.open .faq-acc-el-descr-frame{
    width: 746px;
}
.faq-container{
    padding-bottom: 114px;
}
 }